@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textMain min-h-screen font-sans m-0 p-0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}